body {
}

.homepage-header {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    text-align: center;
}

.card .card-content .card-title i {
    line-height: unset;
}

.modal {
    max-height: 80%;
}